<div class="row">
  <div class="col-xs-12 header">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h2>Static text - Nothing to see here</h2>
  </div><!-- .col-xs-6 -->

  <div class="col-xs-6">
    <h2>Here is ng-repeat of people</h2>

    <div ng-repeat="person in allItems" class="person">
      <p>Name: {{person.name}}</p>
      <p>Age: {{person.age}}</p>
      <p>Friends:</p>
      <ul>
        <li ng-repeat="friend in person.friends">{{friend.name}}</li>
      </ul>
    </div>

  </div><!-- .col-xs-6 -->

</div><!-- .row -->